section{
    margin-bottom: 50px;
}
form{
    margin: 100px auto;
    padding: 20px;
    width: max-content;
    border: 1px solid darkgrey;
    border-radius: 5px;
    background-color: whitesmoke;
}
form div button:hover{
    background-color: lightgray;
}
mat-form-field{
    width: 100%;
}
mat-card{
    width: 90%;
    background-color: #fefefe;
}
mat-card-subtitle{
    margin-bottom: 3vh;
    font-size: 0.75em;
}

#edit{
    width: 100%;
    padding: 0 0.5em;
}