<section>
    <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" #f="ngForm" (ngSubmit)="onSubmit(f)">
        <mat-form-field>
            <input type="email" matInput placeholder="E-mail" ngModel name="email" email required >
        </mat-form-field>
        <mat-form-field>
            <input [type]="tipLozinke" matInput placeholder="Lozinka" ngModel name="lozinka" required >
            <button type="button" id="sakrij" matSuffix mat-icon-button (click)="sakrijLozinku()">
                <mat-icon>{{vidljivost}}</mat-icon>
            </button>
        </mat-form-field>
        <button type="submit" mat-raised-button color="primary" [disabled]="f.invalid">Prijavi se</button>
        <div *ngIf="greska" fxLayout="column" fxLayoutAlign="center center">
            <mat-label> {{greskaPoruka}}</mat-label>
            <a routerLink="/registracija">Registrujte se</a>
        </div>
    </form>
</section>