form{
    margin: 100px auto;
    padding: 20px;
    width: max-content;
    border: 1px solid darkgrey;
    border-radius: 5px;
    background-color: whitesmoke;
}
mat-card{
    margin-bottom: 3em;
}
#label-vreme{
    margin-top: 3em;
    margin-bottom: 0.25em;
    font-size: 1.25em;
}

mat-header-cell{
    font-size: 1em;
}