mat-card{
    margin-bottom: 3em;
}
#label-vreme{
    margin-top: 3em;
    margin-bottom: 0.25em;
    font-size: 1.25em;
}

mat-header-cell{
    font-size: 1em;
}

mat-cell,mat-header-cell{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#prazna-tabela{
    margin: 50px;
}
img{
    width: 50%;
}
p{
    font-size: 1.5em;
    text-align: center;
}
